@media only screen and(max-width: 767px) {
    .description img {
        width: 100%;
    }
}

h1, h2, h3 {
    text-align: center;
    color: white;
    background-color: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    border-radius: 5px;
    background-color: #2d2d2d;
    border-color: #252424;
    color: white;
    padding: 5px;
}

.button:hover {
    background-color: #383838;
    border-color: #252424;
    transition: .3s;
    text-decoration: none;
}

.button:focus {
    outline: transparent !important;
    transition: .3s;
}

.parallax {
    background-image: url(../res/images/background.jpg);
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mod-picture {
    margin: 0 auto;
    margin-bottom: 5px;
}

.api-buttons {
    margin: 0 auto;
    text-align: center;
}

.api-key-div {
    display: block;
}

.api-key-div>input {
    width: 90%;
    font-size: 13px;
}

.api-buttons>input, select {
    width: 200px;
    height: 25px;
}

.main-div {
    border: 1px solid #252424;
    border-radius: 3px;
    margin-top: 5px;
    background-color: #383838;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mod-info {
    border: 1px solid #252424;
    border-radius: 3px;
    margin-top: 5px;
}

.mod-info>label {
    display: block;
    margin: 10px;
    font-weight: bold;
}

.mod-info>span {
    font-weight: normal;
}

.label-span {
    font-weight: normal;
}